@page
@model Generator.Pages.Containers.FillModel
@{
    ViewData["Title"] = "Opened Container";
}

<h1>Opened @Html.DisplayFor(model => model.Container.Name)</h1>
<a class="btn btn-outline-primary" asp-page="Index">Return to Containers</a>
<br/>
<p>@Html.Raw(Model.LootMessage)</p>
@if (Model.Treasures != null && Model.Treasures.Count() > 0)
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.Treasures)
        {
            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img class="rounded float-start" style="margin-right: 20px" src="~/Icons/@(Html.DisplayFor(modelItem => item.Image)).png" alt="icon" height=50 width=50 />
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
